<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
		 xmlns:b="http://www.springframework.org/schema/beans"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://www.springframework.org/schema/beans
		 	http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- enable use-expressions -->
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/secured/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/secured/carga/**" access="hasRole('ROLE_CARGA')" />
		<intercept-url pattern="/secured/calculaPromedios/**" access="hasRole('ROLE_CARGA')" />

		<!-- access denied page -->
		<access-denied-handler error-page="/error.xhtml" />
		<form-login 
			login-page="/login.xhtml"
		    default-target-url="/dashboard.xhtml"
		    authentication-failure-handler-ref="myAuthenticationFailureBean"
		    authentication-failure-url="/login.xhtml"
			 />
		<logout logout-success-url="/" />
		<!-- enable csrf protection -->
		<csrf disabled="true"/>
	</http>

	<authentication-manager>
	  <authentication-provider>
		<jdbc-user-service data-source-ref="dataSource"
		  users-by-username-query=
		    "select username,password, enabled from public.usuario where username=?"
		  authorities-by-username-query=
		    "select u.username, r.nombre from public.usuario u join public.rol_usuario ru on u.id = ru.usuarios_id join public.rol r on r.id = ru.roles_id where u.username =?  " />
	  </authentication-provider>
	</authentication-manager>
	
	<b:bean id="myAuthenticationFailureBean" class="com.sertec.spring.MyAuthenticationFailureHandler" />


</b:beans>
